In [5]:
## import necessary packages
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [22]:
### data cleaning
diabetes_filename = 'Diabetes with Population Info by County 2017.csv'
df = pd.read_csv(diabetes_filename)
# drop county
df = df.drop(columns=['County'])
# convert state to one-hot-encoding
onehotencoder = OneHotEncoder()
onehotencoder.fit(df['State'].to_numpy().reshape(-1, 1))
state_array = onehotencoder.transform(df['State'].to_numpy().reshape(-1, 1)).todense()

df_states = pd.DataFrame(state_array)
df_wo_states = df.drop(columns=['State'])
df_cleaned = pd.concat([df_states, df_wo_states], axis=1)

,0,1,2,3,4,5,6,7,8,9,...,sex and age_total population_21 years and over,sex and age_total population_62 years and over,sex and age_total population_65 years and over,sex and age_total population_18 years and over_1,sex and age_total population_18 years and over_male,sex and age_total population_18 years and over_female,sex and age_total population_18 years and over_sex ratio (males per 100 females),sex and age_total population_65 years and over_1,sex and age_total population_65 years and over_male,sex and age_total population_65 years and over_female
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30491,6159,4721,32308,16800,15508,108.3,4721,2262,2459
3216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18169,3843,3135,18625,9619,9006,106.8,3135,1526,1609
3217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13939,3251,2498,14538,7280,7258,100.3,2498,1234,1264
3218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5951,2041,1686,6187,3142,3045,103.2,1686,794,892
3219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5434,1770,1340,5595,2923,2672,109.4,1340,637,703